@{
    ViewBag.Title = "Deploy!";
}

<h2>@ViewBag.Title</h2>


<table class="table table-bordered">
    <tr>
        <th>Release Package</th>
        <th>Status</th>
        <th></th>
    </tr>
@foreach (var release in ViewData["Releases"] as IQueryable<CloudDeploy.Model.Releases.ReleasePackage>)
{
    <tr>
        <td>@release.ReleaseName</td>
        <td>@release.ReleaseStatus</td>
        <td>
            @Html.ActionLink("Status", "StatusOfReleasePackage", new { id = release.ReleasePackageID }, new { @class = "btn" })
            @Html.ActionLink("Deploy", "DeployReleasePackage", new { id = release.ReleasePackageID }, new { @class = "btn" })
            @Html.ActionLink("Rollback", "RollbackReleasePackage", new { id = release.ReleasePackageID }, new { @class = "btn" })
        </td>
    </tr>
}

</table>


<h2>Current Catalog</h2>

<table class="table table-bordered">
    <tr>
        <th>Artefact</th>
        <th>Host</th>
        <th>Build</th>
    </tr>

@foreach (var hostdeploy in ViewData["HostDeployments"] as IQueryable<CloudDeploy.Model.Releases.HostDeployment>)
{
    <tr>
        <td>@hostdeploy.DeploymentUnit.DeployableArtefact.DeployableArtefactName</td>
        <td>@hostdeploy.Host.HostName</td>
        <td>@hostdeploy.DeploymentUnit.Build.BuildLabel</td>
    </tr>
}
</table>