@{
    ViewBag.Title = "Index";
}

<h2>Deployments</h2>

@foreach (var release in ViewData["Releases"] as IQueryable<CloudDeploy.Model.Releases.ReleasePackage>)
{
    <li>
        @release.ReleaseName (@release.ReleaseStatus) -
        @Html.ActionLink("Status", "StatusOfReleasePackage", new { id = release.ReleasePackageID })
        @Html.ActionLink("Deploy", "DeployReleasePackage", new { id = release.ReleasePackageID })
        @Html.ActionLink("Rollback", "RollbackReleasePackage", new { id = release.ReleasePackageID })
    </li>
}


<h2>Current Catalog</h2>


