@{
    ViewBag.Title = "Index";
}

<h2>Deployments</h2>

@foreach (var release in ViewData["Releases"] as IQueryable<CloudDeploy.Model.Releases.ReleasePackage>)
{
    <li>
        @release.ReleaseName (@release.ReleaseStatus) -
        @Html.ActionLink("Status", "StatusOfReleasePackage", new { id = release.ReleasePackageID })
        @Html.ActionLink("Deploy", "DeployReleasePackage", new { id = release.ReleasePackageID })
        @Html.ActionLink("Rollback", "RollbackReleasePackage", new { id = release.ReleasePackageID })
    </li>
}


<h2>Current Catalog</h2>

<table>
    <tr>
        <th>Artefact</th>
        <th>Host</th>
        <th>Build</th>
    </tr>


@foreach (var hostdeploy in ViewData["HostDeployments"] as IQueryable<CloudDeploy.Model.Releases.HostDeployment>)
{
    <tr>
        <td>@hostdeploy.DeploymentUnit.DeployableArtefact.DeployableArtefactName</td>
        <td>@hostdeploy.Host.HostName</td>
        <td>@hostdeploy.DeploymentUnit.Build.BuildLabel</td>
    </tr>
}
</table>