@using MvcContrib.UI.Grid
@{
    ViewBag.Title = "Deploy!";
}

<h2>@ViewBag.Title</h2>


<table class="table table-bordered">
    <tr>
        <th>Release Package</th>
        <th>Status</th>
        <th></th>
    </tr>
    @foreach (var release in ViewData["Releases"] as IQueryable<CloudDeploy.Model.Releases.ReleasePackage>)
    {
        <tr>
            <td>@release.ReleaseName</td>
            <td>@release.ReleaseStatus</td>
            <td>
                <div class="btn-group">
                    @Html.ActionLink("Status", "StatusOfReleasePackage", new { id = release.ReleasePackageID }, new { @class = "btn" })
                    @Html.ActionLink("Deploy", "DeployReleasePackage", new { id = release.ReleasePackageID }, new { @class = "btn" })
                    @Html.ActionLink("Rollback", "RollbackReleasePackage", new { id = release.ReleasePackageID }, new { @class = "btn" })
                </div>
            </td>
        </tr>
    }

</table>


<h2>Current Catalog</h2>

<h3>By Environment</h3>
<div class="accordion" id="ArtefactAccordion">
@foreach (var environment in ViewData["Environments"] as IQueryable<string>)
{
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#ArtefactAccordion" href="#by_environment_@environment">
        @environment
      </a>
    </div>
    <div id="by_environment_@environment" class="accordion-body collapse in">
      <div class="accordion-inner">        

		<table class="table table-bordered dtTable">
			<thead>
				<tr>
					<th>Host</th>
					<th>Artefact</th>
					<th>Build</th>
				</tr>
			</thead>
			<tbody>
			@foreach (var hostdeploy in (ViewData["HostDeployments"] as IQueryable<CloudDeploy.Model.Releases.HostDeployment>).Where(hd => hd.Host.Environment == @environment))
			{
				<tr>					
					<td>@hostdeploy.Host.HostName</td>
					<td>@hostdeploy.DeploymentUnit.DeployableArtefact.DeployableArtefactName</td>
					<td>@hostdeploy.DeploymentUnit.Build.BuildLabel</td>
				</tr>
			}
			</tbody>
		</table>
      </div>
    </div>
  </div>
}
</div>
<script type="text/javascript" language="javascript">
	$(document).ready(function () {
		$(".dtTable").dataTable({
			"bPaginate": true,
			"bLengthChange": false,
			"bFilter": true,
			"bSort": true,
			"bInfo": false,
			"bAutoWidth": false
		});
	});
</script>

