<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title">
                    <a href="~/">Deploy Tool</a>
                </p>
            </div>
        </div>
    </header>
    <menu>
        <ol>
            <li><a href="~/">Home</a></li>
            <li>Deploy</li>
            <li>Builds</li>
            <li>Artefacts</li>
        </ol>
    </menu>
    <div id="body">

        @RenderBody()
       
    </div>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
