@model CloudDeploy.Model.Platform.Host

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Host</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Environment)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Environment)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HostName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HostName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HostRole)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HostRole)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
