@model IEnumerable<CloudDeploy.Model.Platform.Host>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Environment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HostName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HostRole)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Environment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HostName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HostRole)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.HostID }) |
            @Html.ActionLink("Details", "Details", new { id=item.HostID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.HostID })
        </td>
    </tr>
}

</table>
