@model IEnumerable<CloudDeploy.Model.Platform.Host>

@{
    ViewBag.Title = "Hosts";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn" })
</p>
<table class="table table-striped table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Environment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HostName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HostRole)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Environment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HostName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HostRole)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.HostID }, new { @class = "btn" } )
            @Html.ActionLink("Details", "Details", new { id=item.HostID }, new { @class = "btn" })
            @Html.ActionLink("Delete", "Delete", new { id=item.HostID }, new { @class = "btn" })
        </td>
    </tr>
}

</table>
